<div class="container">
	<div class="row">
		<h2>Contact Us</h2>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<div class="container">
    <div class="row">
		<form role="form" id="contact-form" class="contact-form">
                    <div class="row">
                		<div class="col-md-4">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="Name">
                  		</div>
                  	</div>
                    	<div class="col-md-4">
                  		<div class="form-group">
                            <input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail">
                  		</div>
                  	</div>
                  	<div class="col-md-4">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="Phone Number" autocomplete="off" id="phone" placeholder="Phone Number">
                  		</div>
                  	</div>
                  	</div>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message"></textarea>
                  		</div>
                  	</div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                  <button type="submit" class="btn main-btn pull-right">Send a message</button>
                  </div>
                  </div>
                  <br>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                       <center>
                            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                            <a href="https://www.twitter.com/" class="fa fa-twitter"></a>
                            <a href="https://www.skype.com/" class="fa fa-skype"></a>
                        </center>                   
                    </div>
                  </div>
	</div>
</div>