<div class="row content">


    
       <div class="col-md-12">
<!--
             <li><a class="bg-primary" href="/#/find">$€arch</a></li>
             <li><a class="bg-primary" href="/#/join">Join</a></li>
-->
<!--           <img src="www.jpeg" id="www" class="img-rounded">-->
             <div class="jumbotron">
      <div class="container">
        <h1>Hello, Scientist!</h1>
        <p>mrstibhrtiernpitre,voarieuwmeopatiuma eopit etbpemtiueamotiuetopi umopietumerpoiutpoaieru mriotuemrot
          teteoityaoeituneiro uyjearioutbreioutnoieur yneouityqiotueyrtuieyt reiutyerutie</p>
        <p><a class="btn btn-lg btn-success" href="/#/join" role="button">Join us &raquo;</a></p>
      </div>
    </div>
           <form></form>
            </div>
        </div>