<!--
<div>
    <h1>{{dataForm}}</h1>
</div>
-->

    
<!--
     <div class="col-md-7" ng-init="loadData()">
           hi info
            <div id="map"></div>
        </div>
-->
<!--

<div class="col-md-5" ng-init="loadData()">
    <h1><p><b>User Name</b>: {{dataFromMap.username}}</p></h1>
    <h1><p><b>Age</b>: {{dataFromMap.age}}</p></h1>
    <h1><p><b>gender</b>: {{dataFromMap.gender}}</p></h1>
    <h1><p><b>gender</b>: {{dataFromMap.favlang}}</p></h1>
    
   
</div>
-->






<!--

<div class="col-md-7">
    
       <div class="col-md-7">
            <div id="map" class="img-thumbnail bg-warning"></div>
        </div>
</div>
-->
<div class="row content">


<!--
    
       <div class="col-md-7">
            <div id="map" class="img-thumbnail bg-warning"></div>
        </div>
-->



       

 
<div class="col-md-12" ng-init="loadData()">


    <div class="panel panel-default">

<!--      <li><a class="bg-primary fa fa-window-close" href="/#/bla" >Hide</a></li>-->
      <a class="fa fa-window-close" href="/#/bla" id="hide"></a>
<!--<a class="fa fa-window-close bg-primary" href="/#/bla" style="font-size:48px;color:red"></a>-->

<!--
        <div class="panel-heading">
            <h2 class="panel-title text-center"><p>Sign up<span class="glyphicon glyphicon-map-marker"></p></span><span class="badge ">All fields required</span></h2> 
        </div>
-->

        <div class="panel-body">

  
   <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
<!--        <a href="/w3images/lights.jpg" target="_blank">-->
          <img src="" alt="Lights" style="width:100%">
          
          <div class="caption">
              
                <form name ="bla" style="color:#337ab7">
 <i class="fa fa-camera-retro fa-1x"></i>
               <h3>{{dataFromMap.username}}</h3>
<p>{{dataFromMap.age}}</p>
   

    <p>gender: {{dataFromMap.gender}}</p>
    <p>fav: {{dataFromMap.favlang}}</p>
     </form>
          </div>
       
      </div>
    </div>
     <div class="col-md-6">
                <div class="thumbnail">
<!--        <a href="/w3images/lights.jpg" target="_blank">-->
<!--          <img src="" alt="Lights" style="width:100%">-->
          <div class="caption">
                <form name ="bla" style="color:#337ab7">
  
             <i class="fa fa-weixin fa-3x" aria-hidden="true"></i>
<i class="fa fa-phone-square fa-3x" aria-hidden="true"></i>
   <i class="fa fa-video-camera fa-3x" aria-hidden="true"></i>

 <i class="fa fa-users fa-3x" aria-hidden="true"></i>
   

<!--

    <p>gender: {{dataFromMap.gender}}</p>
    <p>fav: {{dataFromMap.favlang}}</p>
-->
     </form>
          </div>
    
      </div>
            </div>
             <div class="col-md-12">
         <div class="thumbnail">
<!--        <a href="/w3images/lights.jpg" target="_blank">-->
          <img src="" alt="Lights" style="width:100%">
          <div class="caption">
                <form name ="bla" style="color:#337ab7">

<!--
               <h3>{{dataFromMap.username}}</h3>
             <i class="fa fa-weixin fa-3x" aria-hidden="true"></i>
<i class="fa fa-phone-square fa-3x" aria-hidden="true"></i>
   <i class="fa fa-video-camera fa-3x" aria-hidden="true"></i>
    <p>{{dataFromMap.age}}</p>
-->
<!--

    <p>gender: {{dataFromMap.gender}}</p>
    <p>fav: {{dataFromMap.favlang}}</p>
-->
     </form>
   </div>
       
      </div>
            </div>
</div>
  
   
       
<!--
       <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-link"></span> Link 
        </button>
-->
<!--
       <button>
                  <i class="fa fa-phone-square" aria-hidden="true"></i>
               </button>    
-->
<!--
         
           Show More: <input type="checkbox" ng-model="myVar">

<div ng-show="myVar">
<h1>Welcome</h1>
<p>Welcome to my home.</p>
</div>
-->
           
        </div>
    </div>
  
</div>
</div>

 
	


<!--
<body ng-app="">

Show HTML: <input type="checkbox" ng-model="myVar">

<div ng-show="myVar">
<h1>Welcome</h1>
<p>Welcome to my home.</p>
</div>

</body>-->
