<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>SignIn Please</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-12">
                    <h3>Username</h3>
                    <input ng-model="userinput.username" type="text" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Password</h3>
                    <input ng-model="userinput.password" type="password" placeholder="Password">
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-xs" ng-click="signin()">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div>